//
// Copyright 2022-2023 Guy Streeter
//   This copyrighted material is made available to anyone wishing to use,
//  modify, copy, or redistribute it subject to the terms and conditions of
//  the GNU General Public License v.3.
//
//   This application is distributed in the hope that it will be useful,
//   but WITHOUT ANY WARRANTY; without even the implied warranty of
//   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
//   General Public License for more details.
//
// Authors:
//   Guy Streeter <guy.streeter@gmail.com>
//

.pf-c-table {
    --pf-c-table--m-compact__expandable-row-content--PaddingTop: var(
        --pf-c-table--m-compact--cell--PaddingTop
    );
    --pf-c-table--m-compact__expandable-row-content--PaddingBottom: var(
        --pf-c-table--m-compact--cell--PaddingBottom
    );
}

html,
body,
#app,
#main-scroll-div {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-scroll-div {
    overflow: auto;
}

.tuna--table tbody {
    font-family: monospace;
}

.tuna--table td:not(:last-of-type),
th:not(:last-of-type) {
    text-align: right;
}

#new-value {
    font-weight: bold;
}

%topology {
    margin: 10px 5px 0 0;
    padding: 10px 5px 5px 10px;
    font-family: monospace;
}

.node-box {
    @extend %topology;
    background-color: var(--pf-global--palette--black-300);
}

.socket-box {
    @extend %topology;
    background-color: var(--pf-global--palette--black-150);
}

.cache-box {
    @extend %topology;
    background-color: var(--pf-global--palette--black-300);
}

.core-box {
    @extend %topology;
    background-color: var(--pf-global--palette--black-100);
}

.cpu-box {
    @extend %topology;
    background-color: var(--pf-global--palette--black-300);
}

.pu-box {
    @extend %topology;
    background-color: var(--pf-global--palette--black-100);
}

.multi-box {
    border-style: dotted;
    padding: 10px 5px 1px 10px;
}

.cpu-mask-text {
    font-weight: bold;
    margin-inline-end: 5px;
}

.cpu-toggle {
    margin-inline-end: 0.5rem;
    padding-block-start: 3px;
}

.refresh-input {
    max-width: 6rem;
}

.total-cpu {
    min-width: 8rem;
}
